
.music-section {
  margin: 100px 0px;
}

.description {
  color: white;
  h1 {
    line-height: 1.5rem;
  }
  h2 {
    font-size: .75rem;
    margin-top: -3px;
  }
  .year {
    font-size: .65rem;
  }
}

.cover-art {
  width: 350px;
}

.album {
  margin: 10px;
}

// iPhone size plus
@media (max-width: 414px) and (max-height: 736px) {
  .music-section {
    margin: -22px 0px 50px 0px;
  }

  .album {
    margin: 0px;
  }

  .description {
    margin: -5px 10px 40px 15px;
    h2 {
      line-height: 1rem;
      margin-top: -4px;
    }
  }

  .cover-art {
    width: 100%;
  }
}