@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:700|Playfair+Display:400,700);
.toolbar {
  z-index: 10;
  background-color: #161616;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 75px;
  position: fixed !important;
  bottom: 0;
  color: white; }

.title-year {
  height: 75px;
  padding-left: 14px;
  padding-top: 16px;
  text-align: left; }

.title {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: 5px;
  margin-top: 5px; }

.year {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  font-size: .65rem;
  letter-spacing: 5px; }

.info {
  text-align: left;
  margin-top: -12px;
  padding-left: 14px;
  position: fixed; }

.description {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: .75rem;
  letter-spacing: 5px; }

.tools {
  display: inline-block; }

.zoom-button {
  width: 70px;
  height: 75px;
  -webkit-mask-size: cover;
  text-align: center;
  mask-size: cover;
  color: white;
  padding-top: 16px;
  float: right; }
  .zoom-button:hover {
    background-color: #1f1f1f;
    cursor: zoom-in; }

.gallery-index {
  width: 70px;
  height: 75px;
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  font-size: .65rem;
  text-align: center;
  letter-spacing: 5px;
  padding-top: 24px;
  float: right; }
