@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700);

body {
  -webkit-font-smoothing: antialiased;
}

.mainTitle {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 1.7rem;
  letter-spacing: 4px;
  text-align: left;
  margin: 11px 0 7px 0;
  padding-left: 15px;
  text-decoration: none;
  color: white;
  &:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
}

.App {
  text-align: center;
  margin: 0;
  margin-top: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.App-header {
  top: 0;
  z-index: 10;
  margin-top: 0px;
  position: fixed !important;
  background-color: #161616;
  height: 75px;
  width: 100%;
  padding: 0px;
  color: white;
}

li {
  list-style-type: none;
}

/* Artwork Menu */
.artmenu{
  background-color: #161616;
  position: absolute;
  top: 65px;
  display: none;
  width: 158px !important;
  list-style-type: none;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: .8rem;
  letter-spacing: 2px;
  &.visible {
    display: block;
  }
  div {
    width: 147px !important;
    height: 28px;
    padding-top: 8px;
    padding-left: 12px;
    text-align: left;
    border-width:0 0 0 1px;
    border-style:solid;
    border-color:#161616;
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      width: 145px !important;
      cursor: pointer;
      background-color: #191919;
      border-left: 1px solid #999;
      border-right: 0;
    }
  }
}

.navigation {
  z-index: 9;
  postion: relative;
  display: flex;
  width: 100%;
  align-items: center;
  height: 16px;
  margin-top: 9px;
}

/* Artwork */
.navigation :nth-child(1) {
  width: 93px;
}

/* Short Films */
.navigation :nth-child(2) {
  width: 126px;
}

/* Music */
.navigation :nth-child(3) {
  width: 77px;
}

/* Store */
.navigation :nth-child(4) {
  width: 73px;
}

/* About */
.navigation :nth-child(5) {
  width: 73px;
}

/* Links */
.navigation :nth-child(6) {
  width: 69px;
}

.option {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: .8rem;
  letter-spacing: 2px;
  color: white;
  padding-bottom: 5px;
  border-width:0 0 1px 0;
  border-style:solid;
  border-color:#161616;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
    border-bottom: 1px solid #999;
  }
}
