.linkSection {
  top: 25px;
}

.linkItem {
  color: white;
  line-height: 1rem;
  padding-bottom: 5px;
}

.title {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 1.15rem;
  letter-spacing: 5px;
  line-height: .5rem;
}
.description {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  font-size: .65rem;
  letter-spacing: 5px;
  line-height: .75rem;
}
