.film-section {
  color: white !important;
}

.title {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: 5px;
  color: white;
  margin-bottom: 0px;
}

.year {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  font-size: .65rem;
  letter-spacing: 5px;
  color: white;
}

.runtime {

}
