@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:700|Playfair+Display:400,700);

.bio-section {
  top: -22px;
  width: 100%;
}

.bio {
  color: white;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: .75rem;
  letter-spacing: 2.5px;
  line-height: 1.25rem;
  padding: 12px 12px 18px 12px;
}

.bio-container {
  width: 100%;
  text-align: center;
}

.bio-image {
  width: 100%;
  min-width: 320px;
  max-width: 432px;
  height: auto;
}